.pagination-nav {
  margin-top: 80px;
}
.pagination {
  margin-bottom: 20px;
  justify-content: space-between;
}
.pagination .page-link.previous,
.pagination .page-link.next {
  border: 0 none !important;
  padding: 0;
  color: $grey-color;
}
.pagination .page-link.previous:hover,
.pagination .page-link.next:hover {
  background: transparent;
}

.inherit_padding {
  padding: inherit;
}

/* Remove padding side by default*/

div[class^="col"] {
  &.no__padding__left { padding-left: 0px } 
  &.no__padding__right { padding-right: 0px }
  &.no__padding__both { padding-left: 0px; padding-right: 0px; }
  &.adding__space__bottom {
    margin-bottom: 100px;
  }

  .content.full__img {
    margin-bottom: 50px;

    > img {
      max-width: initial;
      width: 100%;
    }
  }

   h2.adding__space {
    margin-top: 15px;
  }

  .content_member {
    max-width: 62ch;

    h2 {
      margin-bottom: 3px;
    }
    i {
      margin-bottom: 10px;
      display: block;
    }
    p {

    }
  }

}

.box-stroke {
  border-top: solid 0.5px $grey-border;
  padding-top: 50px;
}

.box-stroke__bottom {
  background: url(../img/hr.svg) repeat-x bottom left;
  
  &.adding__padding__bottom {
    padding-bottom: 5px;
    margin-bottom: $block-space;
  }
}

.select-range-years {
    a {
      color: $grey-color;
      margin-right: 1rem;
      
      &.active {
        color: $grey-active;
      }
    }
}

.entry-content, .box-stroke {

  &.adding__space {
    margin-top: 34px;
  }

  &.adding__padding__top{
    padding-top: 60px;
  }

}

.menu-side-container {

  .menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    li {
      margin-bottom: 9px;

      & > a {
        color: $grey-color;
        text-transform: capitalize;
      }

      &.active > a {
        color: $grey-active;
      }

      &:not(:last-child) {
        padding-right: 12px;
      }
    }
  }
}

.widget-area {

    aside {
      text-transform: uppercase;
      margin-left: auto;

      form {

        label {
          display: none;
        }

        .input-group {
          align-items: center;

          input {
            text-transform: uppercase;
            border: solid 0.7px $grey-border;
            border-radius: 0px;
            border-right: none;

            &:focus {
              outline: none;
              
            }
          }

          .input-group-append {
            
            input {
              background: transparent;
              color: transparent;
              border-left-color: transparent;
              border-right: solid 0.7px $grey-border;
            }
          
          }
        }

      }

      h3.widget-title {
        font-size: 16px;
        margin-bottom: 37px;
      }

      ul {
        margin-bottom: 72px;
        li > a {
          color: $grey-color;
          font-size: 16px;
        }

      }

    }
}

article.hentry {
  padding-bottom: 34px;
  @include font-smoothing;

  & > iframe, & > img {
    margin: 16px 0;
  }

  &:not(:last-child) {
    background: url(../img/hr.svg) repeat-x bottom left;
    margin-bottom: 50px;
  }
  
  .img-wrap {
    margin-bottom: 40px;
  }

  .page & {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.blogroll-footer {
  margin-bottom: 50px;
}

.owl-carousel {
  .owl-counter {
    position: absolute;
    right: 0px;
    bottom: $block-space;
    line-height: 1;

    span {
      font-size: 25px;

      &.index_count {
        color: $grey-color;
      }

      &.global_count {
        color: $grey-active;
      }
    }
  }
  .owl-nav {
    position: absolute;
    top: 35%;
    width: 100%;
    color: $grey-color;
  
    button[class^="owl"] {
       position: absolute;
       font-size: 50px;
       outline: none;
       //width: 35px;
       //height: 71px;
       //border: 1px solid #a9a9a9;
       //background-color: $grey-active;
       
       span {
        // display: none;
       }

       &:hover {
         color: $grey-active;
       }
     }

     .owl-prev {
       left: var(--split-arrow);
     }
     .owl-next {
       right: var(--split-arrow);
     }
    button.owl-prev,
    button.owl-next {
      border-top: 1px solid $grey-border;
      display: block;
      height: 40px;
      width: 40px;
      transform-origin: center center;
      text-indent: -999em;
      overflow: hidden;

      &:hover {
        border-color: $grey-color;
      }
    }

    button.owl-prev {
      border-left: 1px solid $grey-border;
      transform: translateX(50%) rotate(-45deg);
    }

    button.owl-next {
      border-right: 1px solid $grey-border;
      transform: translateX(-50%) rotate(45deg);
    }

  }
  .owl-dots {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: -30px;
    justify-content: flex-end;
    .owl-dot { 
      width: 10px;
      height: 10px;
      border-radius: 50%;
      outline: none;
      background-color: #dddddd;
      margin: 5px 7px;
        &.active {
          background-color: #aaaaaa;
        }
    }
  }

  .owl-item {
    background: white;

    background: #fff;
    transition: opacity 1s ease!important;
    opacity: 0;

    &.active {
      opacity:1;
    }

    &:not(.active) {
      pointer-events: none;
    }

    &.no__full img.slide-image {
      width: initial;
      margin: 0 auto;

      @media (min-width: $bp-med) {
        width: auto;
        margin: 0 auto;
        height: calc( 95vh - 440px );
        max-width: none;
      }
    }

    section {
      margin-top: 20px;

      p {
        margin-bottom: 0px;
      }
    }
  }
}

.slideshow .owl-carousel {
  padding-bottom: $block-space;

  .owl-item.first-view img {
    opacity:0;
  }
}

.featherlight .featherlight-content {
  padding: 5vh;
}

.row.space__between > div[class^="col"] {
  margin-bottom: 30px;
}

.toggle__content {
  opacity:0;
  transition: opacity 1ms linear;
  pointer-events: none;
  height: 0;

  &.active {
    opacity:1;
    transition: opacity $anim-dur/2 ease;
    pointer-events: initial;
    height: auto;
  }
}