// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
@import url("https://use.typekit.net/jqh3jet.css");

/*@font-face {
    font-family: 'Omnes Light';
    font-style: normal;
    font-weight: normal;
    src: local('Omnes Light'), url('../fonts/Omnes/omnes-light-webfont.woff') format('woff');
}*/

$body-font: 'omnes-pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font: 'omnes-pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$grey-dark:  #262626;
$grey-color:  #666666;
$grey-headings:  #777777;
$grey-active:  #a9a9a9;
$grey-border:  #aaaaaa;
$blue: #0033cc;


$bp-large: 1200px;
$bp-med: 992px;
$bp-small: 600px;

$anim-dur: 2s;

:root {
    --grey-dark: $grey-dark;
    --blue: #003399;
    --grey: $grey-color;
    --grey-active: #999999;
    --white: #ffffff;
    --split-arrow: -70px;
}


$primary: $grey-color;
$secondary: $grey-color;
$font-family-sans-serif: $body-font;

// Alter Variables
$font-weight-normal: 200;
$headings-font-weight: 200 !important;
$navbar-light-color: $primary;
$navbar-light-active-color: var(--grey-active);
$navbar-light-hover-color: var(--grey-active);


@mixin font-sizing($fsize, $lheight) {
    font-size: $fsize/16 * 1em;
    line-height: $lheight/$fsize;
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}