body {
  color: $grey-color;
  a:hover { text-decoration: none; }
  ul { list-style: none; padding-left: unset;}
  letter-spacing: .65px;
}

.row__space__bottom {
  padding-bottom: 47.5px; 
}

iframe {
  width: 100%;
}

.page-template-contact-template iframe {
  height: 570px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 37px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pagination-nav {
  margin-top: 80px;
}
.pagination {
  margin-bottom: 20px;
  justify-content: space-between;
}
.pagination .page-link.previous,
.pagination .page-link.next {
  border: 0 none !important;
  padding: 0;
  color: $grey-color;
}
.pagination .page-link.previous:hover,
.pagination .page-link.next:hover {
  background: transparent;
}

.inherit_padding {
  padding: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
.owl-counter,
.aux_links a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: $title-font;
  font-size: 25px; 
  line-height: 1; 
  letter-spacing: 0.6px;  
  color: $grey-headings;
  margin-bottom: 0px;
}

h2 {
  font-family: $title-font;
  font-size: 19px; 
  line-height: 25px;
  letter-spacing: 0.6px;
  color: $grey-headings;
  margin-bottom: 0px;
}

h3, h4 {
  color: $grey-headings;
}

h3, h4, h5, h6 {
  letter-spacing: 0.6px;
}

.head_content h4{
  text-transform: uppercase;
}

h1.gallery-title {
  text-transform: uppercase;
  margin-bottom: 8px;

  & + p {
    margin-bottom: 10px;
  }
}

.home h1{
  margin-bottom: 0px;
  text-transform: uppercase;
}



a {
  font-size: 16px; 
  line-height: 21px; 
  letter-spacing: 0.65px;  
  color: $blue;
}

p {
  font-family: $body-font;
  font-size: 16px; 
  line-height: 21px; 
  letter-spacing: 0.65px; 
  color: $grey-color;
}

nav.navbar{ 
  padding: 3rem 1rem; 
}

.navbar-brand { 
  padding: 0; display: grid; margin-bottom: 2px; 
}

#navbarNavDropdown {
  justify-content: flex-end;

  li {
    &:last-child {
       & > a {
         padding-right: 0px;
       }
    }

    a {
      &::after  {
        content: none;
      }
    }

    ul.dropdown-menu {
      background-color: rgba(255,255,255,.7);
      border: none;
      text-transform: uppercase;
      padding-top: 8px;
      margin: 0px;
      border-radius: 0;

      li a {
        padding: 0px 11px;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: $body-font;
  font-size: 16px; 
  line-height: 21px; 
  letter-spacing: 0.65px; 
  color: $grey-color;
}

.navbar-light .navbar-nav .current-menu-ancestor a.nav-link.dropdown-toggle {
  color: $navbar-light-active-color;
}

.navbar-expand-md .navbar-nav .nav-link{
  padding: 0 11px;
  line-height: 1.125;
  vertical-align: baseline;
  padding-top: 24px;
}

.navbar>.container, 
.navbar>.container-fluid {
  align-items: baseline;
}

@media (min-width: $bp-large) {
  .container {
    max-width: 1190px; 
  } 
}

/* Home Page */
.home {
  .owl-carousel .owl-stage-outer {
    height: 0;
    padding-bottom: 55%;
  }

  .banner-info {
    margin-top:8px;
    margin-bottom:60px;

    a {
      color:$grey-color;
    }
  }
}

section.wrapper-recents {
  margin-top: 53px;

  article {


    a {
      color: $blue;

      &:before {
        content: '\2014';
        display: block;
        color: $grey-color;
      }
    }

    p {
      max-width: 392px;
    }
  }
}

.home section.wrapper-recents p {
  margin-top: 25px;
}

//  Icon Alter Spaces

.fa:not(:last-of-type) {padding-right: 10px}

// Remove padding side by default

div[class^="col"] {
  &.no__padding__left { padding-left: 0px } 
  &.no__padding__right { padding-right: 0px }
  &.no__padding__both { padding-left: 0px; padding-right: 0px; }
  &.adding__space__bottom {
    margin-bottom: 100px;
  }
  .content.full__img > img {
    max-width: initial;
    width: 100%;
  }

   h2.adding__space {
    margin-top: 15px;
  }

  .content_member {
    h2 {
      margin-bottom: 3px;
    }
    i {
      margin-bottom: 10px;
      display: block;
    }
  }

}

.box-stroke {
  border-top: solid 0.5px $grey-border;

  h5 {
    padding-top: 60px;
  }
}

.box-stroke__bottom {
  border-bottom: solid 0.5px $grey-border;
  
  &.adding__padding__bottom {
    padding-bottom: 5px;
    margin-bottom: 34px;
  }
}

.select-range-years {
    a {
      color: $grey-color;
      margin-right: 1rem;
      
      &.active {
        color: $grey-active;
      }
    }
}

.entry-content, .box-stroke {

  &.adding__space {
    margin-top: 34px;
  }

  &.adding__padding__top{
    padding-top: 60px;
  }

}

.menu-side-container {

  .menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 29px;
    li {
      margin-bottom: 9px;

      & > a {
        color: $grey-color; 
      }

      &.active > a {
        color: $grey-active;
      }

      &:not(:last-child) {
        padding-right: 12px;
      }
    }
  }
}

.tab-content, .height_stand {
  min-height: 300px;
}

.tab-content {
  & > #artist_pe {
    ul > li {
      a {
        h2 { 
          margin-bottom: unset;
          color: $grey-color;
          text-transform: uppercase;
        }
        &:hover > h2 {
          color: $grey-active;
        }
      }

      margin-bottom: 34px;
    }
  }
}

.nav-tabs {
    border-bottom: none;
    margin-top: 28px;

    .nav-item {
      &.flex-right {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .nav-link {
          padding-right: 0px;
          min-width: 50px;
        }
      }
    }
  
    .nav-link {
      color: $grey-color;
      border: none !important;
      padding-right: 1.5em;
      
      &.active, &:hover {
        color: $grey-active;
        border: inherit;
        background-color: transparent;
      }

      &:first-child {
        padding-left: 0px;
      }
    }
}

.widget-area {

    aside {
      text-transform: uppercase;
      width: 200px;
      margin-left: auto;

      form {

        label {
          display: none;
        }

        .input-group {

          input {
            text-transform: uppercase;
            border: solid 0.7px $grey-border;
            border-radius: 0px;
            border-right: none;

            &:focus {
              outline: none;
              
            }
          }

          .input-group-append {
            
            input {
              background: transparent;
              color: transparent;
              border-left-color: transparent;
              border-right: solid 0.7px $grey-border;
            }
          
          }
        }

      }

      h3.widget-title {
        font-size: 16px;
        margin-bottom: 37px;
      }

      ul {
        margin-bottom: 72px;
        li > a {
          color: $grey-color;
          font-size: 16px;
        }

      }

    }
}

article.post {
  
  header {
    margin-bottom: 19px;
  }

  .entry-content {
    margin-bottom: 41px;
  }

  & > iframe, & > img {
    margin-bottom: 37px;
  }

  &:not(:last-child) {
    border-bottom: solid 0.5px $grey-border;
    margin-bottom: 65px;
  }
  
}

.tab-content > div {
  margin-top: 16px;
}

#artist_li a {
  color: $grey-color;

  &:hover {
    color:$grey-active;
  }
}

.owl-carousel {
  .owl-counter {
    position: absolute;
    right: 0px;
    bottom: 0;
    line-height: 1;

    span {
      font-size: 25px;

      &.index_count {
        color: $grey-color;
      }

      &.global_count {
        color: $grey-active;
      }
    }
  }
  .owl-nav {
    position: absolute;
    top: 35%;
    width: 100%;
    color: $grey-color;
  
    button[class^="owl"] {
       position: absolute;
       font-size: 50px;
       outline: none;
       //width: 35px;
       //height: 71px;
       //border: 1px solid #a9a9a9;
       //background-color: $grey-active;
       
       span {
        // display: none;
       }

       &:hover {
         color: $grey-active;
       }
     }

     .owl-prev {
       left: var(--split-arrow);
     }
     .owl-next {
       right: var(--split-arrow);
     }
    button.owl-prev,
    button.owl-next {
      border-top: 1px solid $grey-border;
      display: block;
      height: 40px;
      width: 40px;
      transform-origin: center center;
      text-indent: -999em;
      overflow: hidden;

      &:hover {
        border-color: $grey-color;
      }
    }

    button.owl-prev {
      border-left: 1px solid $grey-border;
      transform: translateX(50%) rotate(-45deg);
    }

    button.owl-next {
      border-right: 1px solid $grey-border;
      transform: translateX(-50%) rotate(45deg);
    }

  }
  .owl-dots {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: -30px;
    justify-content: flex-end;
    .owl-dot { 
      width: 10px;
      height: 10px;
      border-radius: 50%;
      outline: none;
      background-color: #dddddd;
      margin: 5px 7px;
        &.active {
          background-color: #aaaaaa;
        }
    }
  }

  .owl-item {
    background: white;

    &.no__full img.slide-image {
      width: initial;
      margin: 0 auto;

      @media (min-width: $bp-med) {
        width: auto;
        margin: 0 auto;
        height: 60vh;
        max-width: none;
      }
    }

    section {
      margin-top: 20px;

      p {
        margin-bottom: 0px;
      }
    }
  }
}

.featherlight .featherlight-content {
  padding: 8vh 10vh 6vh;
}

.row.space__between > div[class^="col"] {
  margin-bottom: 30px;
}

.toggle__content {
  opacity:0;
  transition: opacity 1ms linear;
  pointer-events: none;
  height: 0;

  &.active {
    opacity:1;
    transition: opacity $anim-dur/2 ease;
    pointer-events: initial;
    height: auto;
  }
}

.head_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 29px;

    .aux_links {

      & > a {
        color: $grey-color;

        &.active {
          color: $grey-active;
        }
        &:hover {
          color: $grey-active;
        }
        &:not(:last-child) {
          padding-right: 12px;
        }
      }
    }
}

.aux_links {
  margin-bottom: 9px;
}

.site-info {
  row > * {
    padding-left: 0px;
  }
}

/* Artist and Exhibit Grids */

.grid-item {
  margin-bottom: 50px;

  .img-wrap {
    position: relative;
    height: 0;
    padding-bottom: 67.11%;
    background: #fafafa;
    overflow: auto;

    img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: none;
      width: 100%;
    }
  }

  h2 {
    margin-top:12px;
    text-transform: uppercase;
  }

  a {
    color: $grey-color;
  }

  p {
    margin: 4px 0 0;
  }
}

.content-area {
    overflow: hidden;  
}

.loadmore_artists {
  display: block;
  text-align: center;
  outline: none;
}

@media (min-width: $bp-med) {
  .grid-container,
  .main-content-area {
    padding-right: 20px;
    padding-left: 20px;

    .row {
      margin-right: -20px;
      margin-left: -20px;
    }

    .head_content,
    .nav-tabs {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .grid-item {
    padding-right: 20px;
    padding-left: 20px;

    .single-artists & {
      margin-top:30px;
      margin-bottom:50px;
    }
  }
}

@media (min-width: $bp-large) {
  .grid-container,
  .main-content-area {
    padding-right: 40px;
    padding-left: 40px;

    .row {
      margin-right: -40px;
      margin-left: -40px;
    }

    .head_content,
    .nav-tabs {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .grid-item {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.site-main {
  width: 100%;
}

.footer-inner {
  @media (min-width: $bp-med) {
    padding-right: 20px;
  padding-left: 20px;
  }
  @media (min-width: $bp-large) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

footer {
  &.site-footer p {
    font-family: $title-font;
    font-size: 16px;
    line-height: 21px; 
    letter-spacing: 0.65px; 
    color: $grey-color;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  .resize_icons {
    display: flex;
    justify-content: flex-end; 
    height: auto;

    a {
      display: block;
      height: 22px;
      text-align: center;

      &:not(:last-of-type) {
        margin-right: 14px
      }

      svg {
        height: 100%;
        width: auto;
      }
    }
  }

  img#logo_art {
    width: 123px;
    float: right;
    margin-top: 4px;
  }



}

footer.box-stroke .site-info{
  margin-top: 22px;
}